--extra-index-url https://download.pytorch.org/whl/cu101
numpy==1.18.5
imageio==2.9.0
numba==0.48.0
Click==7.0
scikit-learn==0.23.1
tqdm==4.32.2
h5py==2.10.0
scikit-image==0.17.2
pybind11==2.5.0
torch==1.7.1
torchvision==0.8.2
tensorflow==2.3.1
pandas==1.0.5
Pillow==6.2.2
memory-profiler==0.55.0
opencv-python==4.4.0.46
